In [1]:
import pandas as pd
import numpy as np
import pyspark

spark = pyspark.sql.SparkSession.builder.getOrCreate()

np.random.seed(13)

pandas_dataframe = pd.DataFrame({
    "n": np.random.randn(20),
    "group": np.random.choice(list("xyz"), 20),
    "abool": np.random.choice([True, False], 20),
})

### 1. Spark Dataframe Basics

In [2]:
# i. Use the starter code above to create a pandas dataframe.
pandas_dataframe

           n group  abool
0  -0.712391     z  False
1   0.753766     x  False
2  -0.044503     z  False
3   0.451812     y  False
4   1.345102     z  False
5   0.532338     y  False
6   1.350188     z  False
7   0.861211     x  False
8   1.478686     z   True
9  -1.045377     y   True
10 -0.788989     x  False
11 -1.261606     y  False
12  0.562847     y   True
13 -0.243326     y   True
14  0.913741     y  False
15  0.317351     x  False
16  0.127303     z  False
17  2.150383     y   True
18  0.606289     x  False
19 -0.026772     x   True

In [3]:
# ii. Convert the pandas dataframe to a spark dataframe. From this point forward, do all of your work with the 
# spark dataframe, not the pandas dataframe.
df = spark.createDataFrame(pandas_dataframe)
df

DataFrame[n: double, group: string, abool: boolean]

In [4]:
# iii. Show the first 3 rows of the dataframe.
df.show(3)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
+--------------------+-----+-----+
only showing top 3 rows

In [5]:
# iv. Show the first 7 rows of the dataframe.
df.show(7)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
+--------------------+-----+-----+
only showing top 7 rows

In [6]:
# v. View a summary of the data using .describe.
df.describe().show()

+-------+------------------+-----+
|summary|                 n|group|
+-------+------------------+-----+
|  count|                20|   20|
|   mean|0.3664026449885216| null|
| stddev|0.8905322898155364| null|
|    min|-1.261605945319069|    x|
|    max|2.1503829673811126|    z|
+-------+------------------+-----+

In [7]:
# vi. Use .select to create a new dataframe with just the n and abool columns. View the first 5 rows of this dataframe.
df.select('n','abool').show(5)

+--------------------+-----+
|                   n|abool|
+--------------------+-----+
|  -0.712390662050588|false|
|   0.753766378659703|false|
|-0.04450307833805...|false|
| 0.45181233874578974|false|
|  1.3451017084510097|false|
+--------------------+-----+
only showing top 5 rows

In [8]:
# vii. Use .select to create a new dataframe with just the group and abool columns. View the first 5 rows of 
# this dataframe.
df.select('group','abool').show(5)

+-----+-----+
|group|abool|
+-----+-----+
|    z|false|
|    x|false|
|    z|false|
|    y|false|
|    z|false|
+-----+-----+
only showing top 5 rows

In [9]:
# viii. Use .select to create a new dataframe with the group column and the abool column renamed to 
# a_boolean_value. Show the first 3 rows of this dataframe.
df.select('group',df.abool.alias('a_boolean_value')).show(3)

+-----+---------------+
|group|a_boolean_value|
+-----+---------------+
|    z|          false|
|    x|          false|
|    z|          false|
+-----+---------------+
only showing top 3 rows

In [10]:
# ix. Use .select to create a new dataframe with the group column and the n column renamed to a_numeric_value. 
# Show the first 6 rows of this dataframe.
df.select('group', df.n.alias('a_numeric_value')).show(6)

+-----+--------------------+
|group|     a_numeric_value|
+-----+--------------------+
|    z|  -0.712390662050588|
|    x|   0.753766378659703|
|    z|-0.04450307833805...|
|    y| 0.45181233874578974|
|    z|  1.3451017084510097|
|    y|  0.5323378882945463|
+-----+--------------------+
only showing top 6 rows

2. Column Manipulation

i. Use the starter code above to re-create a spark dataframe. Store the spark dataframe in a varaible named df

In [11]:
# ii. Use .select to add 4 to the n column. Show the results.
df.select(df.n + 4).show()

+------------------+
|           (n + 4)|
+------------------+
|3.2876093379494122|
| 4.753766378659703|
|3.9554969216619464|
|  4.45181233874579|
|5.3451017084510095|
| 4.532337888294546|
| 5.350187899722527|
|  4.86121137416932|
| 5.478685737435897|
| 2.954622869461466|
|3.2110109750484512|
| 2.738394054680931|
| 4.562846785281032|
|3.7566737481144377|
| 4.913740704859677|
| 4.317350922736336|
| 4.127303280206981|
| 6.150382967381113|
| 4.606288656896298|
|3.9732283500135592|
+------------------+

In [12]:
# iii. Subtract 5 from the n column and view the results.
df.select(df.n - 5).show()

+-------------------+
|            (n - 5)|
+-------------------+
| -5.712390662050588|
| -4.246233621340297|
| -5.044503078338053|
|  -4.54818766125421|
|-3.6548982915489905|
| -4.467662111705454|
|-3.6498121002774733|
|  -4.13878862583068|
| -3.521314262564103|
| -6.045377130538534|
| -5.788989024951549|
| -6.261605945319069|
| -4.437153214718968|
| -5.243326251885563|
| -4.086259295140323|
| -4.682649077263664|
| -4.872696719793019|
|-2.8496170326188874|
| -4.393711343103702|
| -5.026771649986441|
+-------------------+

In [13]:
# iv. Multiply the n column by 2. View the results along with the original numbers.
df.select('n',df.n * 2).show()

+--------------------+--------------------+
|                   n|             (n * 2)|
+--------------------+--------------------+
|  -0.712390662050588|  -1.424781324101176|
|   0.753766378659703|   1.507532757319406|
|-0.04450307833805...|-0.08900615667610691|
| 0.45181233874578974|  0.9036246774915795|
|  1.3451017084510097|  2.6902034169020195|
|  0.5323378882945463|  1.0646757765890926|
|  1.3501878997225267|  2.7003757994450535|
|  0.8612113741693206|  1.7224227483386412|
|  1.4786857374358966|   2.957371474871793|
| -1.0453771305385342| -2.0907542610770684|
| -0.7889890249515489| -1.5779780499030978|
|  -1.261605945319069|  -2.523211890638138|
|  0.5628467852810314|  1.1256935705620628|
|-0.24332625188556253|-0.48665250377112507|
|  0.9137407048596775|   1.827481409719355|
| 0.31735092273633597|  0.6347018454726719|
| 0.12730328020698067| 0.25460656041396135|
|  2.1503829673811126|   4.300765934762225|
|  0.6062886568962988|  1.2125773137925977|
|-0.02677164998644...|-0.05354329997288145|
+--------------------+--------------------+

In [14]:
# v. Add a new column named n2 that is the n value multiplied by -1. Show the first 4 rows of your dataframe. 
# You should see the original n value as well as n2.
df.select('*', (df.n * -1).alias('n2')).show()

+--------------------+-----+-----+--------------------+
|                   n|group|abool|                  n2|
+--------------------+-----+-----+--------------------+
|  -0.712390662050588|    z|false|   0.712390662050588|
|   0.753766378659703|    x|false|  -0.753766378659703|
|-0.04450307833805...|    z|false|0.044503078338053455|
| 0.45181233874578974|    y|false|-0.45181233874578974|
|  1.3451017084510097|    z|false| -1.3451017084510097|
|  0.5323378882945463|    y|false| -0.5323378882945463|
|  1.3501878997225267|    z|false| -1.3501878997225267|
|  0.8612113741693206|    x|false| -0.8612113741693206|
|  1.4786857374358966|    z| true| -1.4786857374358966|
| -1.0453771305385342|    y| true|  1.0453771305385342|
| -0.7889890249515489|    x|false|  0.7889890249515489|
|  -1.261605945319069|    y|false|   1.261605945319069|
|  0.5628467852810314|    y| true| -0.5628467852810314|
|-0.24332625188556253|    y| true| 0.24332625188556253|
|  0.9137407048596775|    y|false| -0.9137407048596775|
| 0.31735092273633597|    x|false|-0.31735092273633597|
| 0.12730328020698067|    z|false|-0.12730328020698067|
|  2.1503829673811126|    y| true| -2.1503829673811126|
|  0.6062886568962988|    x|false| -0.6062886568962988|
|-0.02677164998644...|    x| true|0.026771649986440726|
+--------------------+-----+-----+--------------------+

In [15]:
# vi. Add a new column named n3 that is the n value squared. Show the first 5 rows of your dataframe. You 
# should see both n, n2, and n3.
df.select('*', (df.n * df.n).alias('n3')).show(5)

+--------------------+-----+-----+--------------------+
|                   n|group|abool|                  n3|
+--------------------+-----+-----+--------------------+
|  -0.712390662050588|    z|false|   0.507500455376875|
|   0.753766378659703|    x|false|  0.5681637535977627|
|-0.04450307833805...|    z|false|0.001980523981562...|
| 0.45181233874578974|    y|false| 0.20413438944294027|
|  1.3451017084510097|    z|false|  1.8092986060778251|
+--------------------+-----+-----+--------------------+
only showing top 5 rows

In [16]:
# vii. What happens when you run the code below?
df.group + df.abool

Column<'(group + abool)'>

In [17]:
# viii. What happens when you run the code below? What is the difference between this and the previous code 
# sample?
df.select(df.group + df.abool)

AnalysisException: cannot resolve '(CAST(group AS DOUBLE) + abool)' due to data type mismatch: differing types in '(CAST(group AS DOUBLE) + abool)' (double and boolean).;
'Project [unresolvedalias((cast(group#1 as double) + abool#2), Some(org.apache.spark.sql.Column$$Lambda$3354/0x0000000801413040@3747e18c))]
+- LogicalRDD [n#0, group#1, abool#2], false

In [18]:
# ix. Try adding various other columns together. What are the results of combining the different data types?
df.select(df.n + df.group)

DataFrame[(n + group): double]

In [19]:
df.select(df.group + df.abool)

AnalysisException: cannot resolve '(CAST(group AS DOUBLE) + abool)' due to data type mismatch: differing types in '(CAST(group AS DOUBLE) + abool)' (double and boolean).;
'Project [unresolvedalias((cast(group#1 as double) + abool#2), Some(org.apache.spark.sql.Column$$Lambda$3354/0x0000000801413040@3747e18c))]
+- LogicalRDD [n#0, group#1, abool#2], false

3. Type casting

i. Use the starter code above to re-create a spark dataframe.

In [20]:
# ii. Use .printSchema to view the datatypes in your dataframe.
df.printSchema

In [21]:
# iii. Use .printSchema to view the datatypes in your dataframe.
df.dtypes

[('n', 'double'), ('group', 'string'), ('abool', 'boolean')]

In [22]:
# iv. What is the difference between the two code samples below?
df.abool.cast('int')

Column<'CAST(abool AS INT)'>

In [23]:
df.select(df.abool.cast('int')).show()
# the difference is the first line of code is creating the column and the 2nd line is displaying the column
# with the transformation of casting the boolean value to an integer

+-----+
|abool|
+-----+
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    1|
|    1|
|    0|
|    0|
|    1|
|    1|
|    0|
|    0|
|    0|
|    1|
|    0|
|    1|
+-----+

In [24]:
# v. Use .select and .cast to convert the abool column to an integer type. View the results.
df.select('abool', df.abool.cast('int')).show()

+-----+-----+
|abool|abool|
+-----+-----+
|false|    0|
|false|    0|
|false|    0|
|false|    0|
|false|    0|
|false|    0|
|false|    0|
|false|    0|
| true|    1|
| true|    1|
|false|    0|
|false|    0|
| true|    1|
| true|    1|
|false|    0|
|false|    0|
|false|    0|
| true|    1|
|false|    0|
| true|    1|
+-----+-----+

In [25]:
# vi. Convert the group column to a integer data type and view the results. What happens?
df.select('group', df.group.cast('int')).show()

+-----+-----+
|group|group|
+-----+-----+
|    z| null|
|    x| null|
|    z| null|
|    y| null|
|    z| null|
|    y| null|
|    z| null|
|    x| null|
|    z| null|
|    y| null|
|    x| null|
|    y| null|
|    y| null|
|    y| null|
|    y| null|
|    x| null|
|    z| null|
|    y| null|
|    x| null|
|    x| null|
+-----+-----+

In [26]:
# vii. Convert the n column to a integer data type and view the results. What happens?
df.select('n', df.n.cast('int')).show()
# it rounds the float in column n to the closest integer

+--------------------+---+
|                   n|  n|
+--------------------+---+
|  -0.712390662050588|  0|
|   0.753766378659703|  0|
|-0.04450307833805...|  0|
| 0.45181233874578974|  0|
|  1.3451017084510097|  1|
|  0.5323378882945463|  0|
|  1.3501878997225267|  1|
|  0.8612113741693206|  0|
|  1.4786857374358966|  1|
| -1.0453771305385342| -1|
| -0.7889890249515489|  0|
|  -1.261605945319069| -1|
|  0.5628467852810314|  0|
|-0.24332625188556253|  0|
|  0.9137407048596775|  0|
| 0.31735092273633597|  0|
| 0.12730328020698067|  0|
|  2.1503829673811126|  2|
|  0.6062886568962988|  0|
|-0.02677164998644...|  0|
+--------------------+---+

In [27]:
# viii. Convert the abool column to a string data type and view the results. What happens?
df.select('abool', df.abool.cast('string')).show()
# nothing changes

+-----+-----+
|abool|abool|
+-----+-----+
|false|false|
|false|false|
|false|false|
|false|false|
|false|false|
|false|false|
|false|false|
|false|false|
| true| true|
| true| true|
|false|false|
|false|false|
| true| true|
| true| true|
|false|false|
|false|false|
|false|false|
| true| true|
|false|false|
| true| true|
+-----+-----+

4. Built-in Functions

i. Use the starter code above to re-create a spark dataframe.

In [28]:
# ii. Import the necessary functions from pyspark.sql.functions
from pyspark.sql.functions import min, max, mean, lit, concat, when

In [29]:
# iii. Find the highest n value.
df.select(max('n')).show()

+------------------+
|            max(n)|
+------------------+
|2.1503829673811126|
+------------------+

In [30]:
# iv. Find the lowest n value.
df.select(min('n')).show()

+------------------+
|            min(n)|
+------------------+
|-1.261605945319069|
+------------------+

In [31]:
# v. Find the average n value
df.select(mean('n')).show()

+------------------+
|            avg(n)|
+------------------+
|0.3664026449885216|
+------------------+

In [32]:
# vi. Use concat to change the group column to say, e.g. "Group: x" or "Group: y"
df.select(concat(lit('Group: '), 'group'))

DataFrame[concat(Group: , group): string]

In [33]:
# vii. Use concat to combine the n and group columns to produce results that look like this: "x: -1.432" or "z: 2.352"
df.select(concat('group', lit(': '), 'n')).show()

+--------------------+
|concat(group, : , n)|
+--------------------+
|z: -0.71239066205...|
|x: 0.753766378659703|
|z: -0.04450307833...|
|y: 0.451812338745...|
|z: 1.345101708451...|
|y: 0.532337888294...|
|z: 1.350187899722...|
|x: 0.861211374169...|
|z: 1.478685737435...|
|y: -1.04537713053...|
|x: -0.78898902495...|
|y: -1.26160594531...|
|y: 0.562846785281...|
|y: -0.24332625188...|
|y: 0.913740704859...|
|x: 0.317350922736...|
|z: 0.127303280206...|
|y: 2.150382967381...|
|x: 0.606288656896...|
|x: -0.02677164998...|
+--------------------+

5. When / Otherwise

i Use the starter code above to re-create a spark dataframe.

In [34]:
# ii. Use when and .otherwise to create a column that contains the text "It is true" when abool is true and 
# "It is false"" when abool is false.
df.select(when(df.abool, 'It is true').otherwise('It is false')).show()

+----------------------------------------------------+
|CASE WHEN abool THEN It is true ELSE It is false END|
+----------------------------------------------------+
|                                         It is false|
|                                         It is false|
|                                         It is false|
|                                         It is false|
|                                         It is false|
|                                         It is false|
|                                         It is false|
|                                         It is false|
|                                          It is true|
|                                          It is true|
|                                         It is false|
|                                         It is false|
|                                          It is true|
|                                          It is true|
|                                         It is false|
|                                         It is false|
|                                         It is false|
|                                          It is true|
|                                         It is false|
|                                          It is true|
+----------------------------------------------------+

In [35]:
# iii. Create a column that contains 0 if n is less than 0, otherwise, the original n value.
df.select('n', when(df.n < 0, 0).otherwise(df.n)).show()

+--------------------+-----------------------------------+
|                   n|CASE WHEN (n < 0) THEN 0 ELSE n END|
+--------------------+-----------------------------------+
|  -0.712390662050588|                                0.0|
|   0.753766378659703|                  0.753766378659703|
|-0.04450307833805...|                                0.0|
| 0.45181233874578974|                0.45181233874578974|
|  1.3451017084510097|                 1.3451017084510097|
|  0.5323378882945463|                 0.5323378882945463|
|  1.3501878997225267|                 1.3501878997225267|
|  0.8612113741693206|                 0.8612113741693206|
|  1.4786857374358966|                 1.4786857374358966|
| -1.0453771305385342|                                0.0|
| -0.7889890249515489|                                0.0|
|  -1.261605945319069|                                0.0|
|  0.5628467852810314|                 0.5628467852810314|
|-0.24332625188556253|                                0.0|
|  0.9137407048596775|                 0.9137407048596775|
| 0.31735092273633597|                0.31735092273633597|
| 0.12730328020698067|                0.12730328020698067|
|  2.1503829673811126|                 2.1503829673811126|
|  0.6062886568962988|                 0.6062886568962988|
|-0.02677164998644...|                                0.0|
+--------------------+-----------------------------------+

6. Filter / Where

i. Use the starter code above to re-create a spark dataframe.

In [36]:
# ii. Use .filter or .where to select just the rows where the group is y and view the results.
df.filter(df.group == 'y').show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
| 0.45181233874578974|    y|false|
|  0.5323378882945463|    y|false|
| -1.0453771305385342|    y| true|
|  -1.261605945319069|    y|false|
|  0.5628467852810314|    y| true|
|-0.24332625188556253|    y| true|
|  0.9137407048596775|    y|false|
|  2.1503829673811126|    y| true|
+--------------------+-----+-----+

In [37]:
# iii. Select just the columns where the abool column is false and view the results.
df.filter(~ df.abool).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
|  0.8612113741693206|    x|false|
| -0.7889890249515489|    x|false|
|  -1.261605945319069|    y|false|
|  0.9137407048596775|    y|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
|  0.6062886568962988|    x|false|
+--------------------+-----+-----+

In [38]:
# iv. Find the columns where the group column is not y
df.filter(df.group != 'y').show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
|  1.3451017084510097|    z|false|
|  1.3501878997225267|    z|false|
|  0.8612113741693206|    x|false|
|  1.4786857374358966|    z| true|
| -0.7889890249515489|    x|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
|  0.6062886568962988|    x|false|
|-0.02677164998644...|    x| true|
+--------------------+-----+-----+

In [39]:
# v. Find the columns where n is positive.
df.filter(df.n > 0).show()

+-------------------+-----+-----+
|                  n|group|abool|
+-------------------+-----+-----+
|  0.753766378659703|    x|false|
|0.45181233874578974|    y|false|
| 1.3451017084510097|    z|false|
| 0.5323378882945463|    y|false|
| 1.3501878997225267|    z|false|
| 0.8612113741693206|    x|false|
| 1.4786857374358966|    z| true|
| 0.5628467852810314|    y| true|
| 0.9137407048596775|    y|false|
|0.31735092273633597|    x|false|
|0.12730328020698067|    z|false|
| 2.1503829673811126|    y| true|
| 0.6062886568962988|    x|false|
+-------------------+-----+-----+

In [40]:
# vi. Find the columns where abool is true and the group column is z.
df.filter(df.abool & (df.group == 'z')).show()

+------------------+-----+-----+
|                 n|group|abool|
+------------------+-----+-----+
|1.4786857374358966|    z| true|
+------------------+-----+-----+

In [41]:
# vii. Find the columns where abool is true or the group column is z.
df.filter(df.abool | (df.group == 'z')).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|-0.04450307833805...|    z|false|
|  1.3451017084510097|    z|false|
|  1.3501878997225267|    z|false|
|  1.4786857374358966|    z| true|
| -1.0453771305385342|    y| true|
|  0.5628467852810314|    y| true|
|-0.24332625188556253|    y| true|
| 0.12730328020698067|    z|false|
|  2.1503829673811126|    y| true|
|-0.02677164998644...|    x| true|
+--------------------+-----+-----+

In [42]:
# viii. Find the columns where abool is false and n is less than 1
df.filter(~ df.abool & (df.n < 1)).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  0.5323378882945463|    y|false|
|  0.8612113741693206|    x|false|
| -0.7889890249515489|    x|false|
|  -1.261605945319069|    y|false|
|  0.9137407048596775|    y|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
|  0.6062886568962988|    x|false|
+--------------------+-----+-----+

In [43]:
# ix. Find the columns where abool is false or n is less than 1
df.filter(~ df.abool | (df.n < 1)).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
|  0.8612113741693206|    x|false|
| -1.0453771305385342|    y| true|
| -0.7889890249515489|    x|false|
|  -1.261605945319069|    y|false|
|  0.5628467852810314|    y| true|
|-0.24332625188556253|    y| true|
|  0.9137407048596775|    y|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
|  0.6062886568962988|    x|false|
|-0.02677164998644...|    x| true|
+--------------------+-----+-----+

7. Sorting

i. Use the starter code above to re-create a spark dataframe.

In [44]:
# ii. Sort by the n value
df.sort('n').show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -1.261605945319069|    y|false|
| -1.0453771305385342|    y| true|
| -0.7889890249515489|    x|false|
|  -0.712390662050588|    z|false|
|-0.24332625188556253|    y| true|
|-0.04450307833805...|    z|false|
|-0.02677164998644...|    x| true|
| 0.12730328020698067|    z|false|
| 0.31735092273633597|    x|false|
| 0.45181233874578974|    y|false|
|  0.5323378882945463|    y|false|
|  0.5628467852810314|    y| true|
|  0.6062886568962988|    x|false|
|   0.753766378659703|    x|false|
|  0.8612113741693206|    x|false|
|  0.9137407048596775|    y|false|
|  1.3451017084510097|    z|false|
|  1.3501878997225267|    z|false|
|  1.4786857374358966|    z| true|
|  2.1503829673811126|    y| true|
+--------------------+-----+-----+

In [45]:
# iii. Sort by the group value, both ascending and descending.
from pyspark.sql.functions import asc, desc

In [46]:
df.sort(asc('group')).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  0.6062886568962988|    x|false|
|-0.02677164998644...|    x| true|
|   0.753766378659703|    x|false|
| -0.7889890249515489|    x|false|
|  0.8612113741693206|    x|false|
| 0.31735092273633597|    x|false|
|-0.24332625188556253|    y| true|
|  0.9137407048596775|    y|false|
|  -1.261605945319069|    y|false|
| 0.45181233874578974|    y|false|
| -1.0453771305385342|    y| true|
|  2.1503829673811126|    y| true|
|  0.5628467852810314|    y| true|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
|  -0.712390662050588|    z|false|
|  1.3451017084510097|    z|false|
|  1.4786857374358966|    z| true|
| 0.12730328020698067|    z|false|
|-0.04450307833805...|    z|false|
+--------------------+-----+-----+

In [47]:
df.sort(desc('group')).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  1.3501878997225267|    z|false|
|  1.3451017084510097|    z|false|
|  1.4786857374358966|    z| true|
| 0.12730328020698067|    z|false|
|  -0.712390662050588|    z|false|
|-0.04450307833805...|    z|false|
|-0.24332625188556253|    y| true|
| -1.0453771305385342|    y| true|
|  0.5323378882945463|    y|false|
|  -1.261605945319069|    y|false|
|  0.9137407048596775|    y|false|
| 0.45181233874578974|    y|false|
|  2.1503829673811126|    y| true|
|  0.5628467852810314|    y| true|
| 0.31735092273633597|    x|false|
|  0.8612113741693206|    x|false|
| -0.7889890249515489|    x|false|
|  0.6062886568962988|    x|false|
|-0.02677164998644...|    x| true|
|   0.753766378659703|    x|false|
+--------------------+-----+-----+

In [48]:
# iv. Sort by the group value first, then, within each group, sort by n value.
df.sort('group', 'n').show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
| -0.7889890249515489|    x|false|
|-0.02677164998644...|    x| true|
| 0.31735092273633597|    x|false|
|  0.6062886568962988|    x|false|
|   0.753766378659703|    x|false|
|  0.8612113741693206|    x|false|
|  -1.261605945319069|    y|false|
| -1.0453771305385342|    y| true|
|-0.24332625188556253|    y| true|
| 0.45181233874578974|    y|false|
|  0.5323378882945463|    y|false|
|  0.5628467852810314|    y| true|
|  0.9137407048596775|    y|false|
|  2.1503829673811126|    y| true|
|  -0.712390662050588|    z|false|
|-0.04450307833805...|    z|false|
| 0.12730328020698067|    z|false|
|  1.3451017084510097|    z|false|
|  1.3501878997225267|    z|false|
|  1.4786857374358966|    z| true|
+--------------------+-----+-----+

In [49]:
# v. df.sort('group', 'n').show()
df.sort('abool', 'group', 'n').show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
| -0.7889890249515489|    x|false|
| 0.31735092273633597|    x|false|
|  0.6062886568962988|    x|false|
|   0.753766378659703|    x|false|
|  0.8612113741693206|    x|false|
|  -1.261605945319069|    y|false|
| 0.45181233874578974|    y|false|
|  0.5323378882945463|    y|false|
|  0.9137407048596775|    y|false|
|  -0.712390662050588|    z|false|
|-0.04450307833805...|    z|false|
| 0.12730328020698067|    z|false|
|  1.3451017084510097|    z|false|
|  1.3501878997225267|    z|false|
|-0.02677164998644...|    x| true|
| -1.0453771305385342|    y| true|
|-0.24332625188556253|    y| true|
|  0.5628467852810314|    y| true|
|  2.1503829673811126|    y| true|
|  1.4786857374358966|    z| true|
+--------------------+-----+-----+

8. Spark SQL

i. Use the starter code above to re-create a spark dataframe.

In [ ]:
# ii. Turn your dataframe into a table that can be queried with spark SQL. Name the table my_df. Answer the rest
# of the questions in this section with a spark sql query (spark.sql) against my_df. After each step, view the 
# first 7 records from the dataframe.

In [ ]:
# iii. Write a query that shows all of the columns from your dataframe.